html {
  /* Black and white */
  --hue: 255;
  --black: hsla(0, 0%, 1%, 1);
  --white: hsla(var(--hue), 0%, 94%, 1);

  --gray: hsla(var(--hue), 0%, 50%, 1);

  --gray-light: hsla(var(--hue), 0%, 71%, 1);
  --gray-lighter: hsla(var(--hue), 0%, 90%, 1);

  --gray-dark: hsla(var(--hue), 0%, 26%, 1);
  --gray-darker: hsla(var(--hue), 0%, 15%, 1);

  /* Colors */

  /* #todo replacce the light and dark with color-mix eventually */

  --color: hsla(var(--hue), 65%, 70%, 1);
  --color-light: hsla(var(--hue), 65%, 80%, 1);
  --color-lighter: hsla(var(--hue), 66%, 85%, 1);
  --color-lightest: hsla(var(--hue), 64%, 95%, 1);
  --color-dark: hsla(var(--hue), 51%, 46%, 1);
  --color-darker: hsla(var(--hue), 47%, 27%, 1);
  --color-darkest: hsla(var(--hue), 40%, 15%, 1);

  --highlight: hsla(calc(var(--hue) + 70), 65%, 60%, 1);
  --highlight-light: hsla(calc(var(--hue) + 70), 90%, 70%, 1);
  --highlight-lighter: hsla(calc(var(--hue) + 70), 90%, 80%, 1);
  --highlight-lightest: hsla(calc(var(--hue) + 70), 90%, 90%, 1);
  --highlight-dark: hsla(calc(var(--hue) + 70), 90%, 50%, 1);
  --highlight-darker: hsla(calc(var(--hue) + 70), 90%, 40%, 1);
  --highlight-darkest: hsla(calc(var(--hue) + 70), 90%, 30%, 1);

  --tertiary-color: hsla(calc(var(--hue) - 120), 77%, 44%, 1);
  --tertiary-color-light: hsla(calc(var(--hue) - 120), 77%, 54%, 1);
  --tertiary-color-lighter: hsla(calc(var(--hue) - 120), 77%, 64%, 1);
  --tertiary-color-lightest: hsla(calc(var(--hue) - 120), 77%, 74%, 1);
  --tertiary-color-dark: hsla(calc(var(--hue) - 120), 77%, 34%, 1);
  --tertiary-color-darker: hsla(calc(var(--hue) - 120), 77%, 24%, 1);
  --tertiary-color-darkest: hsla(calc(var(--hue) - 120), 77%, 14%, 1);

  --success: hsla(122, 85%, 65%, 1);
  --warning: hsla(44, 85%, 65%, 1);
  --error: hsla(0, 85%, 65%, 1);

  --paper: var(--white);
  --ink: var(--black);

  /* Gradients */
  --gradient-direction: 130deg;

  --gradient-dark: linear-gradient(
    var(--gradient-direction),
    var(--paper) 35%,
    var(--gray-darker)
  );

  --gradient-light: linear-gradient(
    var(--gradient-direction),
    var(--gray-light) 35%,
    var(--white)
  );

  --gradient-color: linear-gradient(
    var(--gradient-direction),
    var(--color),
    var(--highlight-lighter)
  );

  --gradient-highlight: linear-gradient(
    var(--gradient-direction),
    var(--highlight),
    var(--tertiary-color)
  );
}

@media (prefers-color-scheme: dark) {
  html {
    --paper: linear-gradient(
      var(--gradient-direction),
      var(--highlight-darkest),
      var(--black),
      var(--color-darkest),
      var(--gray-darker)
    );
    --ink: var(--white);
  }
}
