/* buttons and icons and smaller reusable bits here */

@import "forms.css";

/* buttom a */

/* button */

button,
a {
  cursor: pointer;
  transition: 0.2s;
}

/* CSS */
.button {
  position: relative;

  padding: 1em 2em;
  padding: 0.75rem 1.65rem;

  text-align: center;

  background: var(--gradient-color);
  border-radius: var(--corners);

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  border: var(--line-width) solid var(--ink);
  bottom: 0px;
  left: 0px;
  width: 101%;
  height: 101%;
  transition: 0.2s ease-in-out;
  border-radius: var(--corners);
  transform: rotate(-2deg) translate(3px, -3px);
}

.button:is(:hover, :focus-visible) {
  outline: 0;
}

.button:is(:hover, :focus-visible)::before {
  transform: rotate(0deg);
}

.button:active {
  outline: unset;
}

.button:active::before {
  /* transform: scale(0.8); */
}

/*  */
.button.outline {
  background: var(--paper);
  color: var(--color);
  border: var(--line-width-thin) solid var(--color);
  padding: 0.5em 1em;
}

.button.outline:is(:hover, :focus-visible) {
  border-color: var(--highlight);
  color: var(--highlight);
}

.button.outline:active {
  background: var(--highlight);
  color: var(--color);
}

/* button icon */

.icon {
  display: grid;
  place-items: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 0.5em;
  background: none;
}

.icon > * {
  object-fit: contain;
  object-position: center;
}

/* text */

/* Text buttons and acnhors  */
:is(button, a).text {
  padding: 0.5em 1em;
  background: none;
  border: none;

  color: var(--ink);
}

/*  */

div.actions,
.wallet-wrapper {
  display: flex;
  gap: var(--space-s);
}

.wallet-wrapper {
  justify-content: end;
}

.wallet-wrapper button.icon {
  display: flex;
  align-items: center;
}

.wallet-wrapper picture.wallet-token-icon {
  /* max-width: 2rem; */
  aspect-ratio: 1/1;
}

/* scrollbar */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: var(--line-width); /* Firefox */
}
/* This part is for the scrollbar track / */
*::-webkit-scrollbar {
  width: var(--line-width);
  height: var(--line-width);
}

/* / This part is for the track (the part that the thumb slides across) / */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

/* / This part is for the thumb (the part you drag) / */
::-webkit-scrollbar-thumb {
  background: var(--gradient-color);
  border-radius: var(--corners);
}

/* / This part is for the thumb when it's being hovered over  */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}
