/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */
body {
  background: var(--paper);
  color: var(--ink);
}

[data-rk] {
  display: contents;
}

main {
  display: grid;
  align-content: center;
  padding-top: var(--space-s);
}
