/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */
body {
  background: var(--paper);
  color: var(--ink);
}

@media (prefers-color-scheme: dark) {
  body {
  }
}

[data-rk] {
  display: contents;
}

main {
  /* display: grid; */
  /* padding-top: var(--space-s); */
}

mast-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  display: flex;
  gap: var(--space-m);
  align-items: center;
}
