body {
  display: grid;
  grid-auto-rows: auto 1fr auto; /* main fills up available space + push the footer down */
  min-height: 100vh; /* be at least a full viewport height */
}

#root {
  display: contents;
}

inner-column {
  display: block;
  width: 98%;
  max-width: 1100px; /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px; /* a loose default */
}

inner-column.wide {
  max-width: 1400px; /* could be a variable in settings */
}

inner-column.narrow {
  max-width: 800px; /* could be a variable in settings */
}

inner-column.full {
  max-width: 100%;
}

/*.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}*/
